<% file = medium.medium_file %>
<div id="<%= dom_id medium %>">

  <ul>
    <li>
      <% if file.representable? %>
        <%= image_tag file.representation(resize_to_limit: [100, 100]) %>
      <% else %>
      Not represe      ntable
      <% end %>
    </li>
</ul>

  <p>
    <strong>Title:</strong>
    <%= medium.title %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= medium.path %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= medium.caption %>
  </p>

  <p>
    <strong>Media type:</strong>
    <%= medium.media_type %>
  </p>

  <p>
    <strong>Gallery:</strong>
    <%= link_to medium.gallery, medium.gallery %>
  </p>

  <p>
    <strong>Gemini relevance:</strong>
    <%= medium.gemini_relevance %>
  </p>

  <p>
    <strong>Gemini quality:</strong>
    <%= medium.gemini_quality %>
  </p>

  <p>
    <strong>Gemini description:</strong>
    <%= medium.gemini_description %>
  </p>

  <p>
    <strong>Gemini text:</strong>
    <%= medium.gemini_text %>
  </p>

  <p>
    <strong>File size:</strong>
    <%= medium.file_size %>
  </p>

  <p>
    <strong>Dimensions:</strong>
    <%= medium.dimensions %>
  </p>

  <p>
    <strong>Original filename:</strong>
    <%= medium.original_filename %>
  </p>

  <p>
    <strong>User:</strong>
    <%= medium.user_id %>
  </p>

</div>
