<p style="color: green"><%= notice %></p>

<%= render @medium %>
<%= render 'shared/actions', object: @medium %>
<div>
  <%= link_to "Edit this medium", edit_medium_path(@medium) %> |
  <%= link_to "Back to media", media_path %>
  <%= button_to "Destroy this medium", @medium, method: :delete %>
</div>

<h2>Testing JS Lightbox</h2>


<%= link_to image_tag(@medium.medium_file), data: {
    controller: 'lightbox',
#    lightbox_src: url_for(@medium.medium_file) # Or any other way to get the image URL
    lightbox_src: url_for(@medium.thumbnail) # Or any other way to get the image URL
} %>
