<div id="<%= dom_id gallery %>">
  <p>
    <strong>Title:</strong>
    <%= gallery.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gallery.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= gallery.public %>
  </p>

  <p>
    <strong>Cover image:</strong>
    <%= gallery.cover_image_id %>
    <%#= gallery.cover_image # SQLite3::SQLException: no such column: media.cover_image_id
    %>
    <%= fancy_link_to gallery.cover_image_manhouse,gallery.cover_image_manhouse %>

  </p>

  <p>
    <strong>User:</strong>
    <%= gallery.user_id %>
  </p>

</div>
