<div id="<%= dom_id gallery %>">
  <p>
    <strong>Title:</strong>
    <%= gallery.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gallery.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= gallery.public %>
  </p>

  <p>
    <strong>Cover image:</strong>
    <%= gallery.cover_image_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= gallery.user_id %>
  </p>

</div>
