<p style="color: green"><%= notice %></p>

<%= render @gallery %>
<%= render 'shared/actions', object: @gallery %>

<div class='prove_varie' >
  <%= h2 'Carousel partial (Gemini)' %>
    <%= render 'gallery_carousel', gallery: @gallery %>
  <%= h2 'GRID partial' %>
    <%= render 'gallery_grid', gallery: @gallery %>

  <%= h2 'Lightbox test' %>

    from https://www.stimulus-components.com/docs/stimulus-lightbox :

    <% @medium = @gallery.media.last %>
    <div data-controller="lightbox" >
      <%= link_to( image_tag(@medium.medium_file), data: {
            controller: 'lightbox',
            lightbox_src: url_for(@medium.medium_file) # Or any other way to get the image URL
        }
        )  if (@medium.medium_file rescue nil) %>
      <a href="img/img3.jpg" alt='remove me' >
        <%= image_tag(url_for(@medium.medium_file), alt: '') rescue ''  %>
      </a>
    </div>
</div>
